<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{isNew ? 'Create' : 'Edit'}} a Super Hero
        </mat-panel-title>
        <mat-panel-description>
            Click to {{isNew ? 'create' : 'edit'}} hero
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="create--inputs-wrapper">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="newHeroData.nameLabel" [disabled]="!isNew">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <input matInput [(ngModel)]="newHeroData.genderLabel">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Citizenship</mat-label>
            <input matInput [(ngModel)]="newHeroData.citizenshipLabel">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Skills</mat-label>
            <input matInput [(ngModel)]="newHeroData.skillsLabel">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Occupation</mat-label>
            <input matInput [(ngModel)]="newHeroData.occupationLabel">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Member of</mat-label>
            <input matInput [(ngModel)]="newHeroData.memberOfLabel">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Creator</mat-label>
            <input matInput [(ngModel)]="newHeroData.creatorLabel">
        </mat-form-field>
    </div>

    <button mat-button color="primary" (click)="add()">{{isNew ? 'Add' : 'Edit'}} Hero</button>
</mat-expansion-panel>
