<div class="create--form-wrapper">
    <h2>{{isNew ? 'Create a new superhero' : ('Edit ' + newHeroData.nameLabel)}}</h2>
    <div class="create--inputs-wrapper">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="newHeroData.nameLabel" [disabled]="!isNew" [required]="true">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <input matInput [(ngModel)]="newHeroData.genderLabel">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Citizenship</mat-label>
            <input matInput [(ngModel)]="newHeroData.citizenshipLabel">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Skills</mat-label>
            <input matInput [(ngModel)]="newHeroData.skillsLabel">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Occupation</mat-label>
            <input matInput [(ngModel)]="newHeroData.occupationLabel">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Member of</mat-label>
            <input matInput [(ngModel)]="newHeroData.memberOfLabel">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Creator</mat-label>
            <input matInput [(ngModel)]="newHeroData.creatorLabel">
        </mat-form-field>
    </div>

    <button mat-button color="primary" [disabled]="!newHeroData.nameLabel" (click)="add()">{{isNew ? 'Add' : 'Edit'}} Hero</button>
</div>