<div *ngIf="this.superheroes">
    <mat-grid-list cols="6" rowHeight="80px">
        <mat-grid-tile colspan="5">
            <app-chips [superheroes]="superheroes" [changes]="changes" (updateList)="updateList($event)" class="dashboard--chips-wrapper"></app-chips>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <button mat-button color="primary" (click)="create()">Create Hero</button>
            <button mat-button color="primary" (click)="restoreSuperheroes()">Restore Superheroes</button>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="dashboard--charts-wrapper">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Show graphs
            </mat-panel-title>
            <mat-panel-description>
                Click to {{panelOpenState ? 'hide' : 'show'}} graphs
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-graphs [superheroes]="superheroes"></app-graphs>
    </mat-expansion-panel>
    <app-table [columnsToDisplay]="columnsToDisplay" [superheroes]="superheroesToShow" (rowSelected)="openInfoDialog($event)"></app-table>
</div>