<mat-form-field class="chips--wrapper" appearance="fill">
    <mat-label>Favorite Super Heroes</mat-label>
    <mat-chip-list #chipList aria-label="Marvel Super Heroes">
        <mat-chip *ngFor="let superhero of superheroesList" (removed)="remove(superhero)">
            {{superhero.nameLabel}}
            <button matChipRemove>
            <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
        <input #inputRef
            placeholder="New superhero..."
            [formControl]="formControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let superhero of filteredSuperheroes$ | async" [value]="superhero">
            {{superhero.nameLabel}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
